/*  Navbar Start */

.navbar-header{
    background-color:#ff7655;
}

.navbar-light .navbar-nav .nav-link {
    color: aliceblue;
}

a.nav-link:hover,a.nav-link:active ,a.nav-link:focus{
    border: 1px solid darkseagreen;
    border-radius: 10px;
    background: darksalmon;
}
.list-style{
    position:absolute;
    top:5px; 
    right:15px;
}
@media only screen and (max-width:992px){
   .list-style{
    position:inherit !important;
    }
}

/* Navbar End */

/*H4-Tag Style Start*/

.h4-style-everypage{
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    color: aliceblue;
    background: cadetblue;
    margin-bottom: 0px;
}

/*H4-Tag Style End*/

/*Event Start*/

.event-image{
    width: 50%;
    height: 300px;
}
.schoolevent-image{
   width: 100%;
   height: 200px;
   border-radius: 30px;
}
.col-6.col-sm-3 {
    margin-bottom: 1%;
}
/*Event End*/

/*Curriculum Start*/

.curriculum-image{
    width: 100%;
    height: 300px;
}
.curriculum-media{
    padding-left: 10%;
    padding-right:10%;
    font-family: -webkit-body;
}
.curriculum-h4{
    color: forestgreen;
    padding-bottom: 1%;
    text-decoration: underline;
    text-align: center;
}
/*Curriculum End*/

/*Start Of Spaces*/

.space-image{
    width: 100%;
    margin: auto;
    height: 490px;
}

/*End Of Spaces*/

/*Start Of Achievement*/

/*End Of Achievement*/

/*Start Of Community*/


.community-image{
    width: 50%;
    height: 400px;
}

.community-text{
    color: darkslateblue;
    font-size: large;
    font-family: -webkit-body;
}

/*End Of Community*/

/*Contact Form Start*/

.contact-label{
    font-weight: 500;
    color: cadetblue;
}


/*End Of Contact Form*/

/*Google Map Start*/

agm-map {
  height: 300px;
}

/*Google Map End*/


/* Footer Start */

.footer{

    background-color: #494949;

    color: cadetblue;

    padding-top: 2%;

    padding-bottom: 1%;
}

.address-style{
    font-size:smaller; 
    color:lavender; 
    padding-left:6%;
}

@media screen and (max-width: 360px)  {
    .address-style {
        padding-left: 12%;
    }
}

.social-ul{
    margin: 0px;
}
.social-li{
    font-size: 40px;
    
    display: inline;

    margin-right: 5%;
}
.social-li:hover{
    font-size: 41px;
}
ul li{
    list-style: none;
    margin-bottom: 10px;
}
#a-tag{
    color: greenyellow;
}

/*Footer End*/